table{
	
	border-collapse: collapse;
	
		background-color: rgb(192, 192, 192);
	
}

td{
	text-align: center;
	color:blue;
	
}


th{
	color:black;
}

th:hover {
	cursor:pointer;
	color:red;
	
}



td:hover{
	
	cursor:pointer;
	color:orange;
	
	
}